@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->


<div>
    <br />
    <h1>This ASP.NET MVC web application</h1>
<hr>
<h3>For: SDA_simplilearn Assessment Project3, Phase3:(eCommerce Story, Laptops Market)</h3>
<br>
<br>
<h1>Github Project Repository</h1>
<hr>
<h3><a onclick="javascript:window.open('https://github.com/malshetwi/Project3_SDA.LMS')">malshetwi/Project3_SDA.LMS</a></h3>
<br>
</div>
